<ion-toolbar>
    <ion-item *ngIf="canManage">
        <ion-label>Affecter</ion-label>
        <ion-select multiple="true" placeholder="Séléctionner une personne">
            <ion-select-option *ngFor="let user of userList" [value]="user">{{user.nom}} {{user.prenom}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="canManage">
        <ion-label>Changer le statut</ion-label>
        <!-- <ion-select #statut multiple="false" placeholder="Séléctionner un statut" (ionChange)="toolRequest.statut = statut.value"> -->
        <ion-select #statut multiple="false" placeholder="Séléctionner un statut" (ionChange)="statusChange($event)">
            <ion-select-option value="NOUVELLE">Nouvelle</ion-select-option>
            <ion-select-option value="REFUSEE">Refuser</ion-select-option>
            <ion-select-option value="ACCEPTEE">Accepter</ion-select-option>
            <ion-select-option value="ANNULEE">Annuler</ion-select-option>
            <ion-select-option value="EN COURS DE REALISATION">En cours de réalisation</ion-select-option>
            <ion-select-option value="TERMINEE">Terminée</ion-select-option>
            <ion-select-option value="CLOTUREE">Cloturer</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-button slot=end (click)="pdfExportClick()">
        <ion-icon slot="end" name="document-attach-outline"></ion-icon>
        Exporter pdf
    </ion-button>
    <ion-button slot=end block color="success" *ngIf="!canUpdate" [disabled]="form.invalid" (click)="submitClick()">
        <ion-icon slot="end" name="send-outline"></ion-icon>
        Envoyer
    </ion-button>
    <ion-button slot=end block color="success" *ngIf="canUpdate" [disabled]="form.invalid" (click)="updateClick()">
        <ion-icon slot="end" name="send-outline"></ion-icon>
        Mettre à jour
    </ion-button>
</ion-toolbar>
