<!-- <table mat-table [dataSource]="users | NotActive"> -->
<ng-container *ngIf="users$ | async as users">
  <ion-grid fixed>
    <ion-row appHeaderRow>
      <ion-col size="1"></ion-col>
      <ion-col size="2">Nom d'utilisateur</ion-col>
      <ion-col size="2">Nom</ion-col>
      <ion-col size="2">Prénom</ion-col>
      <ion-col size="2">Matricule</ion-col>
    </ion-row>
    <ion-row *ngFor="let user of users" appDataRow (click)="onSelectUser(user)">
      <ion-col size="1">
        <ion-icon name="person-circle" appBorderColor [borderColor]="user.isActive" [poste]="user.poste.libelle"
          size="large">
        </ion-icon>
      </ion-col>
      <ion-col size="2">
        {{user.username}}
      </ion-col>
      <ion-col size="2">
        {{user.nom.toUpperCase()}}
      </ion-col>
      <ion-col size="2">
        {{user.prenom.charAt(0).toUpperCase() + user.prenom.slice(1).toLowerCase()}}
      </ion-col>
      <ion-col size="2">
        {{user.matricule}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>