:host{
  height: 100%;
  display: flex;
}
form {
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
  display: flex;
  flex-direction:column;
  row-gap: 1rem; 
}
  // ion-item{
  //   width: 100%;
  // }


// .buttons{
//   display: flex;
//   flex-direction: row;
//   @media (max-width: 768px) {
//     flex-direction: column;
//     ion-button{
//       width: 100%;
//     }
//     }
// }
