<!-- <app-shared-user-header [page]="pageTitle"></app-shared-user-header> -->
<ion-toolbar color=light class="ion-hide-md-down padding">

  <app-scan-molding-input slot=start (evOnInput)="onInput($event)"></app-scan-molding-input>

  <ion-button size=small slot=end (click)="(expanded = !expanded) ? accordion.openAll() : accordion.closeAll()">
    {{(!expanded) ? 'Développer tout' : 'Replier tout'}}</ion-button>
</ion-toolbar>
<ion-content>
  <mat-accordion multi>
    <mat-expansion-panel #kitPanel *ngIf="molding.kits?.length >0" [expanded]="(molding.kits.length >0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-title color=primary> Liste des Kits</ion-title>
        </mat-panel-title>

        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <ion-list *ngIf="molding?.kits" class="ion-no-padding">
        <ion-list-header lines="inset" color=light>
          <ion-label class="ion-hide-md-down">Référence Sap</ion-label>
          <ion-label class="ion-hide-md-down">ID-MM</ion-label>
          <ion-label>Désignation</ion-label>
          <ion-label>Péremption à -18°C</ion-label>
          <ion-label>A draper avant le</ion-label>
          <ion-label>A cuire avant le</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let kit of molding.kits; let indexKit = index">
          <ion-label class="ion-hide-md-down">{{kit.referenceSAP}}
            <ion-text class="strong" *ngIf="kit === molding.matDrap">(Drap)</ion-text>
            <ion-text class="strong" *ngIf="kit === molding.matPolym">(Pol)</ion-text>
          </ion-label>
          <ion-label class="ion-hide-md-down">{{kit.idMM}}</ion-label>
          <ion-label>{{kit.designationSAP}}</ion-label>
          <ion-label [color]="kitService.isPerim(kit.peremptionMoins18, molding.moldingDay) ? 'danger' : 'dark'">
            {{kit.peremptionMoins18 | date: "dd/MM/yyyy à HH:mm"}}</ion-label>
          <ion-label [color]="kitService.isPerim(kit.aDrapAv, molding.moldingDay) ? 'danger' : 'dark'">{{kit.aDrapAv |
            date: "dd/MM/yyyy à HH:mm"}}</ion-label>
          <ion-label [color]="kitService.isPerim(kit.aCuirAv, molding.moldingDay) ? 'danger' : 'dark'">{{kit.aCuirAv |
            date: "dd/MM/yyyy à HH:mm"}}</ion-label>
          <ion-button class="ion-hide-md-down" (click)="removeKitClick(indexKit)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="molding.cores?.length >0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Liste des nidas
        </mat-panel-title>
        <mat-panel-description>
          Liste des nidas
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-list>
        <ion-item>
          <ion-label *ngFor="let core of molding.cores">
            {{core.batchNumber.batch2}}
          </ion-label>
        </ion-item>
      </ion-list>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>
<!-- footer -->
<!-- <ion-tab-bar slot="bottom" class="ion-hide-md-up">
    <ion-tab-button tab="schedule">
        <ion-icon name="link"></ion-icon>
        <ion-label>Outillage</ion-label>
        <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers" (click)="kitAlertPrompt()">
        <ion-icon name="scan"></ion-icon>
        <ion-label>Scan kit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
        <ion-icon name="print"></ion-icon>
        <ion-label>Imprimer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" (click)="saveMoldingClick()">
        <ion-icon name="save"></ion-icon>
        <ion-label>Sauvegarder</ion-label>
    </ion-tab-button>
</ion-tab-bar> -->
<ion-footer class="ion-hide-md-down">
  <ion-toolbar class="ion-space-between">
    <ion-item lines="none">
      <ion-label>Outillage :
        <ion-label *ngIf="molding.OT"> OT0{{molding.OT.sapToolNumber}} {{molding.OT.designation}}</ion-label>
        <ion-label color=warning *ngIf="!molding.OT">Pas d'outillage associé</ion-label>
      </ion-label>
      <ion-label class="strong">A draper avant le : {{molding?.aDraperAv | date: "dd/MM/yyyy à HH:mm"}}</ion-label>
      <ion-label class="strong">A cuire avant le : {{molding?.aCuireAv | date: "dd/MM/yyyy à HH:mm"}}</ion-label>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar color=light>
    <ion-buttons slot="end" collapse="true">
      <ion-button slot=end (click)="saveMoldingClick()" fill="clear">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        SAUVEGARDER
      </ion-button>
      <ion-button slot=end (click)="printMoldingClick()" fill="solid" color=primary>
        <ion-icon slot="start" name="print-outline"></ion-icon>
        IMPRIMER
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
