<form [formGroup]="specSboForm()">
  <!-- <ion-item>
            <ion-label>Programme avion</ion-label>
            <ion-select formControlName="aircraftProgram" multiple="true" placeholder="Sélectionner le programme avion">
              <ion-select-option *ngFor="let program of programs()" [value]="program.id">
                {{program.designation}}
              </ion-select-option>
            </ion-select>
          </ion-item> -->
  <p-floatlabel variant="on">
    <p-datepicker inputId="on_label" showIcon iconDisplay="input" formControlName="dateBesoin"
      dateFormat="EEEE DD-MM-YYYY" />
    <label for="on_label">Date de besoin<span color="danger"> *</span></label>
    @if (specSboForm().controls.dateBesoin.hasError('')) {
    @if (specSboForm().controls.dateBesoin.hasError('required')) {
    <p-message severity="error" size="small" variant="simple">Champ obligatoire</p-message>
    }
    }
  </p-floatlabel>
  
  <p-floatlabel variant="on">
    <input pInputText id="on_label" autocomplete="off" formControlName="title"
      placeholder="indiquer un titre bref de la demande" />
    <label for="on_label">Titre de la demande<span color="danger"> *</span></label>
  </p-floatlabel>
  
  
  <p-floatlabel variant="on">
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor labelPlacement="floating" [editor]="editor" formControlName="description"
        [placeholder]="'Taper la description ici'"></ngx-editor>
    </div>
    <label for="on_label">Description<span color="danger"> *</span></label>
    </p-floatlabel>
    </form>