:host{
  height: 100%;
  overflow: hidden;
}
ion-grid {
  --ion-grid-columns: 18;
  ion-row>ion-col{
    padding: 10px 0;
  }
  ion-row>ion-col:first-child{
    justify-content: center !important;
  }
}

.circle{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // color: var(--ion-color-medium);
}



// .mat-row {
//   height: auto;
// }

// .mat-cell {
//   padding: 8px 16px 8px 0;
// }

// .table {
//   display: flex;
//   padding: 14px;
// }

// .mat-table {
//   width: 100%
// }

// .mat-row:hover .mat-cell {
//   border-color: currentColor;
// }
