<ng-container>
  <ion-menu-toggle menu="tool-request-menu">
    <ion-button>Click to open the menu</ion-button>
  </ion-menu-toggle>
  <ion-grid [fixed]="false">
    <ion-row appHeaderRow>
      <ion-col size="1"></ion-col>
      <ion-col size="2">Statut</ion-col>
      <ion-col size="8">Outillage</ion-col>
      <ion-col size="4">Date de la demande</ion-col>
      <ion-col size="3">Demandeur</ion-col>
      <!-- <ion-col size="3" sort="">Date de besoin</ion-col> -->
    </ion-row>
    @for (toolRequest of toolRequestList(); track $index) {
    <ion-row appDataRow [isUrgent]="toolRequest.bloquantProd" (click)="openRequestClick(toolRequest)">
      <ion-col size="1">
          <div class="circle" [style.border]="getBorder(toolRequest)">
            {{toolRequest.id}}
          </div>
          </ion-col>
        <ion-col size="2">{{ toolRequest.statut }}</ion-col>
        <ion-col size="8">
          @if(hasSapToolNumber(toolRequest.tool)){
          <ion-label>OT{{toolRequest.tool.sapToolNumber}} -
            {{toolRequest.tool.designation}}</ion-label>
          }
          </ion-col>
        <ion-col size="4"> {{toolRequest.createdAt | date :"EE dd MMM yyyy":"local" }}</ion-col>
        <ion-col size="3" (click)="userClick()">
          <ion-label>{{toolRequest.demandeur.nom}}</ion-label>
          </ion-col>
          <!-- <ion-col size="3"> -->
          <!-- <ion-label *ngIf="request.controle"> {{request.controle.dateBesoin| date :"dd MMMM yyyy":"local"}}</ion-label>
                            <ion-label *ngIf="request.maintenance"> {{request.maintenance.dateBesoin| date :"dd MMMM yyyy":"local"}}
                            </ion-label> -->
          <!-- </ion-col> -->
          </ion-row>
    }
  </ion-grid>
</ng-container>