@let specCtrlFormForm = specCtrlForm();
<form [formGroup]="specCtrlFormForm">
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6"> -->

        <!-- ******************************* -->
        <!-- *******   COMPLEMENT    ******* -->
        <!-- ******************************* -->
        <!-- <app-card [titles]="{title:'Complément'}"> -->
        <span>Bloquant Prod</span>
        <p-toggleswitch formControlName="bloquantProd" />

            <!-- ******************************* -->
            <!-- ****   DATE MISE A DISPO   **** -->
            <!-- ******************************* -->
            <p-floatlabel variant="on">
              <p-datepicker inputId="on_label" showIcon iconDisplay="input" formControlName="dispoOut"
                dateFormat="EEEE DD-MM-YYYY" />
              <label for="on_label">Date de mise à disposition au service outillage<span color="danger"> *</span></label>
              @if (specCtrlFormForm.controls.dispoOut.hasError()) {
              @if (specCtrlFormForm.controls.dispoOut.hasError('required')) {
              <p-message severity="error" size="small" variant="simple">Champ obligatoire</p-message>
              }
              @if (specCtrlFormForm.controls.dispoOut.hasError('dateMismatch')) {
              <p-message severity="error" size="small" variant="simple">La date de mise à disposition outillage doit être avant le
                besoin du rapport.</p-message>
              }
              }
              </p-floatlabel>
            <!-- ******************************* -->
            <!-- ********   LA PIECE   ********* -->
            <!-- ******************************* -->
            <div class="flex-row">

              <!-- ******************************* -->
              <!-- ********   reference   ******** -->
              <!-- ******************************* -->
<p-floatlabel variant="on">
  <input pInputText id="on_label" autocomplete="off" formControlName="refPlan" placeholder="indiquer n° de plan" />
  <label for="on_label">Référence pièce<span color="danger"> *</span></label>
</p-floatlabel>

              <!-- ******************************* -->
              <!-- ********   INDICE   *********** -->
              <!-- ******************************* -->
<p-floatlabel variant="on">
  <input pInputText id="on_label" autocomplete="off" formControlName="indPlan"
    placeholder="indiquer l 'indice du plan" />
  <label for="on_label">Indice plan<span color="danger"> *</span></label>
</p-floatlabel>

            </div>


            <!-- ******************************* -->
            <!-- *******   CHEMIN CAO   ******** -->
            <!-- ******************************* -->

<p-floatlabel variant="on">
  <input #caoPath pInputText id="on_label" autocomplete="off" formControlName="cheminCAO"
    placeholder="Fournir CAO et / ou chemin d’accès" />
  <label for="on_label">Format du modèle 3D fourni si nécessaire<span color="danger"> *</span></label>
</p-floatlabel>
        </app-card>


        <!-- ******************************* -->
        <!-- *******   LE RAPPORT   ******** -->
        <!-- ******************************* -->
        <!-- <app-card [titles]="{title:'Le rapport'}"> -->
          <!-- ******************************* -->
          <!-- *******   DATE BUTOIR   ******* -->
          <!-- ******************************* -->
          <p-floatlabel variant="on">
            <p-datepicker inputId="on_label" showIcon iconDisplay="input" formControlName="dateBesoin"
              dateFormat="EEEE DD-MM-YYYY" />
            <label for="on_label">Date butoir demandée<span color="danger"> *</span></label>
            @if (specCtrlFormForm.controls.dateBesoin.hasError()) {
            @if (specCtrlFormForm.controls.dateBesoin.hasError('required')) {
            <p-message severity="error" size="small" variant="simple">Champ obligatoire</p-message>
            }
            @if (specCtrlFormForm.controls.dateBesoin.hasError('dateMismatch')) {
              <p-message severity="error" size="small" variant="simple">La date buttoir doit être après la mise à dispo de
                l'outillage.</p-message>
              }
              }
              </p-floatlabel>
          <!-- ******************************* -->
          <!-- *********   OI eOTP   ********* -->
          <!-- ******************************* -->


<p-floatlabel variant="on">
  <input #caoPath pInputText id="on_label" autocomplete="off" formControlName="ligneBudgetaire"
    placeholder="Indiquez le n° pour imputation" />
  <label for="on_label">Oi ou Eotp<span color="danger"> *</span></label>
</p-floatlabel>


          <!-- ******************************* -->
          <!-- ******   TYPE RAPPORT   ******* -->
          <!-- ******************************* -->

<p-select formControlName="typeRapport" [options]="typeRapport | keyvalue" optionLabel="name"
  placeholder="Types de rapport" class="w-full md:w-56" />

          <!-- <ion-item>
            <ion-select  #typeRapportSelect formControlName="typeRapport">
              <@for(type of typeRapport| keyvalue; track $index){
              <ion-select-option [value]="type.value">{{type.value}}</ion-select-option>
              }
              <div slot="label"><ion-text color="danger"> *</ion-text></div>
            </ion-select>
          </ion-item> -->
          <!-- </app-card> -->
          
          
          <!-- </ion-col>
                                  <ion-col size="6"> -->
        <!-- ******************************* -->
        <!-- ******   LE CONTROLE   ******** -->
        <!-- ******************************* -->
        <!-- <app-card [titles]="{title:'Le contrôle'}"> -->
            <!-- ******************************* -->
            <!-- ******   DESCRIPTION   ******** -->
            <!-- ******************************* -->
            <div class="vertical">
              <ion-item lines="none">
                <ion-label>But du contrôle, de l'essai ou de l 'expertise
                  <ion-text color="danger">*</ion-text>
                </ion-label>
              </ion-item>
              <!-- base_url: '/tinymce',
          suffix: '.min', -->
              <editor #ctrlReasons slot="" formControlName="description" [init]="{
            plugins: 'lists link image table wordcount',
            toolbar:'bold italic underline strikethrough forecolor fontsize styles | alignleft aligncenter alignright alignjustify | bullist numlist | h1 h2 h3 |',
            menubar: false,
            statusbar:false,
            object_resizing: true,
            placeholder:'Descriptif de la mesure demandée (contrôle réception, suite à choc, déménagement d’outillage ou autre)',
            height:150,
            inline: false
          }"></editor>
              <!-- <ion-textarea autoGrow required #ctrlReasons formControlName=" ctrlReasons " type="text " (ionChange)="test() "></ion-textarea> -->
              <!-- <ion-note></ion-note> -->
            </div>


            <!-- ******************************* -->
            <!-- *********   DETAIL   ********** -->
            <!-- ******************************* -->
            <div class="vertical">
              <!-- <ion-item lines="none">
                <ion-label>Détails de la mesure
                  <ion-text color="danger">*</ion-text>
                </ion-label>
              </ion-item> -->
              <editor #ctrlReasons slot="" formControlName="detailsControle" [init]="{
            plugins: 'lists link image table wordcount',
            menubar: false,
            statusbar:false,
            placeholder:'lieux, référentiel...',
            height:150
          }"></editor>
              <!-- <ion-textarea autoGrow required #ctrlDetails formControlName="ctrlDetails" type="text"
            placeholder="lieux, référentiel..."></ion-textarea> -->
            </div>

            <!-- ******************************* -->
            <!-- **  PRECISION / TOLERANCES   ** -->
            <!-- ******************************* -->
            <div class="vertical">
              <!-- <ion-item lines="none">
                <ion-label>Précision demandée et attendue
                  <ion-text color="danger">*</ion-text>
                </ion-label>
              </ion-item> -->
              <editor #ctrlReasons slot="" formControlName="tolerances" [init]="{
              plugins: 'lists link image table wordcount',
              menubar: false,
              statusbar:false,
              placeholder:'IT plans et spécifications de définition',
              height:150
            }"></editor>
              <!-- <ion-textarea autoGrow required #tolerance formControlName="precisionTolerances" type="text"
              placeholder="IT plans et spécifications de définition"></ion-textarea> -->
            </div>
        <!-- </app-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"> -->
        <!-- *********************************************************************************************** -->
        <!-- *********************************************************************************************** -->
        <!-- ******************************* -->
        <!-- *******   LA MESURE   ********* -->
        <!-- ******************************* -->
        @if(requestState()){
        <!-- <app-card [titles]="{title:'La Mesure'}"> -->
        <p-inputgroup>
          <p-floatlabel variant="on">
            <p-inputnumber inputId="integeronly" [(ngModel)]="value1" placeholder=""
              formControlName="immobilisationOutillage" />
              <label for="on_label">Durée d'immobilisation estimée de l'outillage<span color="danger"> *</span></label>
              <p-inputgroup-addon>jours</p-inputgroup-addon>
              </p-floatlabel>
              </p-inputgroup>
        

                    <p-floatlabel variant="on">
                      <p-datepicker inputId="on_label" showIcon iconDisplay="input" formControlName="interventionDate"
                        dateFormat="EEEE DD-MM-YYYY" />
                      <label for="on_label">Date d'intervention<span color="danger"> *</span></label>
                      @if (specCtrlFormForm.controls.interventionDate.hasError()) {
                      @if (specCtrlFormForm.controls.interventionDate.hasError('required')) {
                      <p-message severity="error" size="small" variant="simple">Champ obligatoire</p-message>
                      }
                      @if (specCtrlFormForm.controls.interventionDate.hasError('dateMismatch')) {
                      <p-message severity="error" size="small" variant="simple">La date d'intervention doit avoir lieu après la date de la
                        demande</p-message>
                      }
                      }
                    </p-floatlabel>

          <div class="vertical">
        
            <!-- <ion-item>
              <ion-label>Informations complémentaires
                <ion-text color="danger">*</ion-text>
              </ion-label> -->
              <!-- <ion-input #infosComplementaire formControlName="infosComplementaire" type="text"
                       placeholder="Information complémentaire"></ion-input> -->
            <!-- </ion-item> -->
            <editor #infosComplementaire slot="" formControlName="infosComplementaire" [init]="{
                       plugins: 'lists link image table wordcount',
                       menubar: false,
                       statusbar:false,
                       placeholder:'Information complémentaire',
                       height:150
                     }"></editor>
          </div>
        <p-select formControlName="moyenMesure" [options]="moyenMesure | keyvalue" optionLabel="name"
          placeholder="Moyen de mesure" class="w-full md:w-56" />
        <!-- @for(moyen of ; track $index){
              <ion-select-option [value]="moyen.value">{{moyen.value}}
              </ion-select-option>
              } -->
              <!-- </app-card> -->
        }
      <!-- </ion-col>
    </ion-row>
  </ion-grid> -->
</form>