<ion-card class="ion-margin-top" [color]="(maintenanceRealisee)? 'success' : ''">
  <ion-card-header class="flex-row">
    <!-- <ion-card-subtitle>Maintenance n°{{maintenanceItem.rep}}</ion-card-subtitle> -->
    <ion-card-title color=secondary>Maintenance n°{{maintenanceItem.rep}}
    </ion-card-title>
    <ion-icon name="checkmark" color=success size="large" *ngIf="validate"></ion-icon>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="maintenanceItemForm">
      <ion-item>
        <ion-label>Non conformité
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea autoGrow required type="text" #nonConformite formControlName="nonConformite"
          (change)="maintenanceItem.nonConformite = nonConformite.value">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Action corrective
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea autoGrow required type="text" #actionsCorrectives formControlName="actionsCorrectives"
          (change)="maintenanceItem.actionsCorrectives = actionsCorrectives.value">
        </ion-textarea>
      </ion-item>

      <ion-item button>
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-label>Joindre une image</ion-label>
      </ion-item>

      <!-- Datetime in overlay -->
      <ion-item button [id]="'open-date-butoir' + maintenanceItem.rep">
        <ion-label>Date butoir demandée</ion-label>
        <ion-icon slot=end icon="calendar-outline"></ion-icon>
        <ion-text slot="end">
          {{maintenanceItem.delaiAction | date:"dd/MM/yyyy"}}</ion-text>
        <!-- <ion-button id="open-modal">Open Datetime Modal</ion-button> -->
        <ion-modal [trigger]="'open-date-butoir' + maintenanceItem.rep">
          <ng-template>
            <ion-content>
              <ion-datetime #delaiAction presentation="date" formControlName="delaiAction" display-format="DD.MM.YYYY"
                (ngModelChange)="maintenanceItem.delaiAction = dateValue(delaiAction.value)">
                <div slot="title">Date butoir demandée</div>
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-buttons slot="primary">
        <ion-button *ngIf="!validate" slot="start" (click)="validateItemClick()"
          [disabled]="maintenanceItemForm.invalid">
          <ion-icon slot="start" name="checkmark"></ion-icon>
          Valider Item
        </ion-button>
        <ion-button slot="end" (click)="removeItemClick()">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Supprimer Item
        </ion-button>
      </ion-buttons>
      <ion-item-group *ngIf="canUpdate">
        <ion-item-divider>
          <ion-label>Réalisation</ion-label>
        </ion-item-divider>
        <ion-item button [id]="'open-date-real' + maintenanceItem.rep">
          <ion-label>Date de réalisation</ion-label>
          <ion-icon slot=end icon="calendar-outline"></ion-icon>
          <ion-text slot="end">
            {{maintenanceItem.dateReal | date:"dd/MM/yyyy"}}</ion-text>
          <ion-modal [trigger]="'open-date-real' + maintenanceItem.rep">
            <ng-template>
              <ion-content>
                <ion-datetime #dateReal presentation="date" formControlName="delaiAction" display-format="DD.MM.YYYY"
                  (ngModelChange)="maintenanceItem.dateReal = dateValue(dateReal.value)">
                  <div slot="title">Date de réalisation de la maintenance</div>
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-buttons slot="primary">
          <ion-button *ngIf="!maintenanceRealisee" slot="start" (click)="validateRealMaintClick()"
            [disabled]="maintenanceItemForm.invalid">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            Effectuée
          </ion-button>
        </ion-buttons>
      </ion-item-group>
    </form>
  </ion-card-content>
</ion-card>
