<ion-header>
  <!-- TODO mettre un header component -->
  <ion-toolbar color=dark>
    <ion-title>{{pageTitle()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <form class="main-form" style="display:flex;" [formGroup]=""> -->
      <app-maint-repair-form [maintForm]="maintenanceForm" />
    <!-- </form> -->
    <!-- <app-spec-maintenance-reparation *ngIf="toolRequest" [toolRequest]="toolRequest"></app-spec-maintenance-reparation> -->

</ion-content>
<ion-footer>
  <app-tool-request-footer (evStatusChange)="onStatutChange($event)" (evSubmit)="onSubmitCreate()"
    (evUpdate)="onSubmitUpdate()" (evAffectationChange)="onAffectationChange($event.id)"
    [canManage]="canManage()" [canUpdate]="canUpdate()"></app-tool-request-footer>
</ion-footer>