<ion-menu menuId="main-menu" #menu side="start" type="push" contentId="molding-content">
  <ion-header>
    <ion-toolbar color="succes">
      <ion-title>
        Menu Moulage
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item [button]="true" (click)="navigate('molding/create-molding')">
          <ion-label>
            Nouveau moulage
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item [button]="false" color=light>
        <ion-label slot=start>
          Modifier moulage
        </ion-label>
        <ion-input #inputIdMolding type="text" placeholder="# ID" (change)="idMoldingInputChange()"></ion-input>
        <ion-icon slot="end" name="search-outline"></ion-icon>
        <ion-note slot=helper>Entrer un numéro d'ID ou scanner le code barre de la feuille de moulage</ion-note>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
