<ion-item>
  <!-- <ion-label *ngIf="tool"> {{(tool.sapToolNumber.length > 5) ? ' OT' : ' OT0'}}</ion-label> -->
  <ion-input label="Outillage SAP : " placeholder="n°OT SAP ou n° Equipement SAP" [disabled]="disabled()"
    [value]="store.tool()?.sapToolNumber" (ionInput)="handleInput($event)" (ionBlur)="onTouched()" [debounce]="550" />
  @if(store.loading()){
  <ion-spinner slot="end" />
  }
  @else if(store.error() || store.success()){
  <ion-icon slot="end" [name]="store.error() ? 'close-outline' : 'checkmark'"
    [color]="store.error() ? 'danger' : 'success'" [style.cursor]="store.error() ? 'pointer' : 'default'"
    (click)="store.error() && clear()" />
  }
</ion-item>
@if (store.error()) {
<ion-text color="danger" class="ion-padding-start">
  <small>{{ store.error() }}</small>
</ion-text>
}


@if(searchToolList(); as toolList){
<ion-list>
  @for(tool of toolList; track tool.id){
  <ion-item (click)="onSelectedTool(tool)">{{tool.sapToolNumber}} {{tool.identification}}
    {{tool.designation}}</ion-item>
  }
</ion-list>
}

@if(store.tool(); as tool){
<ion-item lines="none">
  <div slot="label">
    <h3>{{ tool.designation }}</h3>
    <p>{{ tool | toolLabel }} - {{ tool.programme.designation }}</p>
  </div>
  </ion-item>
}