<div id="scan-input">
  <ion-button slot=start size=small #scanButton fill=solid size=default (click)="switchScanState()">
    {{scanButtonText}}
  </ion-button>
  <ion-input slot=start #scanInput type="text" placeholder="scanner une fiche de vie KIT ou un n°Outillage"
    (change)="onInputChange(scanInput.value.toString())" (focusout)="inputOnBlur()" (focusin)="inputOnFocus()">
  </ion-input>
</div>

<!-- <ion-modal [isOpen]="isOpenNonExpiredMaterial" (ionModalDidDismiss)="isOpenNonExpiredMaterial=false" class="fullscreen">
  <ng-template>
    <app-non-expired-material-input [originalInput]="scanInput.value.toString()"></app-non-expired-material-input>
  </ng-template>
</ion-modal> -->
