<app-shared-user-header [page]="page"></app-shared-user-header>
<ion-content [fullscreen]="true" color=medium [id]="page.contentId">
    <!-- <ion-menu #menu side="start" type="push" contentId="tooling-content" max-edge-start=10>
        <ion-header>
            <ion-toolbar color="succes">
                <ion-title>Menu outillage</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item-group>
                    <ion-item-divider>
                        <ion-label>Nouvelles demandes</ion-label>
                    </ion-item-divider>
                    <ion-item [routerLink]="['new-tool']">
                        <ion-label>Création outillage</ion-label>
                    </ion-item>
                    <ion-item>Maintenance / Modification</ion-item>
                    <ion-item routerLink="admin-molding">Controle 3D</ion-item>
                </ion-item-group>
                <ion-item-group>
                    <ion-item-divider>
                        <ion-label>Consulter</ion-label>
                    </ion-item-divider>
                    <ion-item [routerLink]="['tool-requests']">
                        <ion-label>Liste des demandes</ion-label>
                    </ion-item>
                    <ion-item>Liste des outillages</ion-item>
                    <ion-item routerLink="">Planning maintenances</ion-item>
                    <ion-item routerLink="">Entretien B15 - Frekote</ion-item>
                </ion-item-group>
            </ion-list>
        </ion-content>
    </ion-menu> -->
    <ion-router-outlet id="tooling-content"></ion-router-outlet>
</ion-content>