<ion-toolbar>
  <ion-text slot="start">Outillage :</ion-text>
  <ion-text *ngIf="molding?.OT"> OT0{{molding?.OT.sapToolNumber}} {{molding?.OT.designation}}</ion-text>
  <ion-button colorStatus="" [color]="toolStatusColor" *ngIf="!molding?.OT" (click)="noToolClick()">Pas d'outillage
    associé
  </ion-button>

  <div class="col" slot=end>
    <ion-text class="strong">Fait le : {{molding?.moldingDay | DateHeure}}</ion-text>
    <ion-text class="strong" *ngIf="molding?.userCreat">Réalisé par : {{molding?.userCreat.nom}}
      {{molding?.userCreat.prenom}}</ion-text>
  </div>
  <ion-text *ngIf=molding?.aDraperAv slot=end class="strong">A draper avant le : {{molding?.aDraperAv | DateHeure}}
  </ion-text>
  <ion-text *ngIf=molding?.aCuireAv slot=end class="strong">A cuire avant le : {{molding?.aCuireAv | DateHeure}}
  </ion-text>
</ion-toolbar>
