<ion-header>
  <ion-toolbar>
    <ion-title>Administration des utilisateurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color=light>
  <ion-grid false>
    <ion-row>
      <ion-col size="8">
        <ion-card>
          <ion-card-content class="table-card-content">
            <app-admin-user-table></app-admin-user-table>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Tableau de bord</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Nouveaux inscrits</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <canvas #newUsers></canvas>
              </ion-card-content>
            </ion-card>

            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Nombre de connexions par jour</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                GRAPHIQUE ICI
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
