<ion-toolbar color=light class="ion-hide-md-down padding">
  <app-scan-molding-input slot=start></app-scan-molding-input>
  <!-- <app-scan-molding-input slot=start (evOnInput)="onInput($event)"></app-scan-molding-input> -->
  <ion-button size=small slot=end (click)="(expanded = !expanded) ? accordion.openAll() : accordion.closeAll()">
    {{(!expanded) ? 'Développer tout' : 'Replier tout'}}</ion-button>
</ion-toolbar>
<ion-content *ngIf="molding$ | async as molding">
  <mat-accordion multi>
    <!--  -->
    <!-- LISTE DES KITS -->
    <!--  -->
    <mat-expansion-panel #kitPanel *ngIf="molding.kits.length >0" [expanded]="(molding.kits.length >0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-title color=primary> Liste des Kits</ion-title>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-molding-kit-table [kits]=molding.kits></app-molding-kit-table>
    </mat-expansion-panel>

    <!--  -->
    <!-- LISTE DES MATERIAUX AUTRES -->
    <!--  -->
    <mat-expansion-panel *ngIf="molding.materialSupplementary?.length >0"
      [expanded]="(molding.materialSupplementary.length >0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-title color=primary>Liste des nidas</ion-title>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-molding-materials-table [molding]="molding"></app-molding-materials-table>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>


<ion-footer class="ion-hide-md-down">
  <app-molding-info-toolbar [molding]="molding$ | async"></app-molding-info-toolbar>
  <app-create-molding-toolbar></app-create-molding-toolbar>
</ion-footer>















<!-- footer -->
<!-- <ion-tab-bar slot="bottom" class="ion-hide-md-up">
  <ion-tab-button tab="schedule">
    <ion-icon name="link"></ion-icon>
    <ion-label>Outillage</ion-label>
    <ion-badge>6</ion-badge>
  </ion-tab-button>

  <ion-tab-button tab="speakers" (click)="kitAlertPrompt()">
    <ion-icon name="scan"></ion-icon>
    <ion-label>Scan kit</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="map">
    <ion-icon name="print"></ion-icon>
    <ion-label>Imprimer</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="about" (click)="saveMoldingClick()">
    <ion-icon name="save"></ion-icon>
    <ion-label>Sauvegarder</ion-label>
  </ion-tab-button>
</ion-tab-bar> -->
