.logo {
    width: 100px;
}

.sbo-title {
    font-weight: bold;
}

.table>* {
    border: solid 1px;
}

.interch {
    font-size: small;
}

.data-grid {
    .header-row * {
        border: solid 1px;
    }
    .data-row * {
        border: solid 1px;
    }
}

.toolnfl {}