<ion-menu menuId="main-menu" open=true #menuTool side="start" type="push" contentId="tooling-content">
  <ion-header>
    <ion-toolbar color="succes">
      <ion-title>
        Menu outillage
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>


      <ion-item-divider>
        <ion-label color=secondary>Faire une demande</ion-label>
      </ion-item-divider>



      <ion-menu-toggle auto-hide="true">
        <ion-item [disabled]="false" button routerDirection="forward" [routerLink]="'new-tool'"
          [style.boder-right]="'solid 4px yellow'">
          <ion-label>
            Nouvel outillage (SBO)
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item button routerDirection="forward" [routerLink]="'repair-tool'">
          <ion-label>
            Maintenance et réparation
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item button routerDirection="forward" [routerLink]="'3D-tool'">
          <ion-label>
            Contrôle 3D
          </ion-label>
        </ion-item>
      </ion-menu-toggle>


      <ion-item-divider>
        <ion-label color=secondary>Suivi</ion-label>
      </ion-item-divider>


      <ion-menu-toggle auto-hide="true">
        <ion-item [button]="true" routerDirection="forward" [routerLink]="'tool-request-list'">
          <ion-label>
            Liste des demandes outillages
          </ion-label>
          <ion-badge *ngIf="(newRequests && isManager)" color="danger">New {{newRequests}}</ion-badge>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item [disabled]="true" [button]="true" [routerLink]="'tool-list'" routerDirection="forward">
          <ion-label>
            Liste des outillages
          </ion-label>
        </ion-item>
      </ion-menu-toggle>



      <ion-item-group *ngIf="isManager">

        <ion-item-divider>
          <ion-label color=secondary>L'équipe</ion-label>
        </ion-item-divider>


        <ion-menu-toggle auto-hide="true">
          <ion-item [button]="true" routerDirection="forward" [routerLink]="'manage-tool-team'">
            <ion-label>
              Gestion de l'équipe
            </ion-label>
            <ion-badge *ngIf="newUsers$ | async as newUsers" color="danger">New {{newUsers.length}}</ion-badge>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item [button]="true"
            [routerLink]="'tool-indicators'" routerDirection="forward">
            <ion-label>
              Indicateurs
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-item-group>
    </ion-list>

  </ion-content>
</ion-menu>