<ion-header>
    <ion-toolbar color=dark>
        <ion-title>{{page.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
    <div class="content-container">
        <form class="main-form" [formGroup]="maintRepForm">
          <!-- <form class="main-form"> -->
            <ion-card color=light padding>
                <ion-card-header>
                    <ion-card-title class="ion-text-uppercase">L'outillage</ion-card-title>
                </ion-card-header>
                <app-tool-input (evOnToolChange)="toolRequest.maintenance.outillage = $event" [tool]="toolRequest?.maintenance?.outillage"></app-tool-input>
            </ion-card>
            <ion-card color="light">
                <ion-card-header class="flex-row" color=light>
                    <ion-title class="ion-text-uppercase">La maintenance</ion-title>
                    <ion-button (click)="addMaintenanceItem()" size=small>
                        <ion-icon slot="start" name="add"></ion-icon>
                        Ajouter maintenance
                    </ion-button>
                </ion-card-header>
                <ion-card-content>
                    <!-- <ion-item color=light> -->
                    <app-maintenance-item *ngFor="let maintenanceItem of toolRequest?.maintenance?.itemActionCorrective.reverse()" [maintenanceItem]="maintenanceItem" (evValidateItem)="onValidateItem($event,maintenanceItem)" (evRemoveItem)="onRemoveItem($event,maintenanceItem)"
                        [canUpdate]="canUpDate"></app-maintenance-item>
                    <!-- </ion-item> -->
                </ion-card-content>
            </ion-card>
            <ion-card>
                <!-- Datetime in overlay -->
                <ion-item button id="open-date-besoin">
                    <ion-label>Date butoir demandée</ion-label>
                    <ion-icon slot=end icon="calendar-outline"></ion-icon>
                    <ion-text slot="end">
                        {{toolRequest?.maintenance?.dateBesoin | date:"dd/MM/yyyy"}}</ion-text>
                    <!-- <ion-button id="open-modal">Open Datetime Modal</ion-button> -->
                    <ion-modal trigger="open-date-besoin">
                        <ng-template>
                            <ion-content>
                                <ion-datetime #popoverDatetime2 presentation="date" formControlName="needDate" display-format="DD.MM.YYYY" (ngModelChange)="toolRequest.maintenance.dateBesoin = dateValue(popoverDatetime2.value)">
                                    <div slot="title">Date butoir demandée</div>
                                </ion-datetime>
                            </ion-content>
                        </ng-template>
                    </ion-modal>

                </ion-item>


            </ion-card>
        </form>
        <app-spec-maintenance-reparation *ngIf="toolRequest" [toolRequest]="toolRequest"></app-spec-maintenance-reparation>
    </div>

</ion-content>
<ion-footer>
    <app-tool-request-footer (evStatusChange)="toolRequest.statut = $event" (evSubmit)="submitMaintenanceForm()" (evUpdate)="updateForm()" (evAffectationChange)="toolRequest.groupeAffectation= $event" [canManage]="canManage" [canUpdate]="canUpDate" [form]="maintRepForm"></app-tool-request-footer>
</ion-footer>
