.flex-row {
    display: flex;
    flex-direction: column;
    ion-button {
        align-items: center;
    }
}

.content-container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.main-form {
    overflow-y: auto;
}
