<!-- ******************************* -->
<!-- **********   HEADER   *********** -->
<!-- ******************************* -->
<!-- TODO FAIRE DE LA MISE EN FORME -->
<!-- <ion-header>
  <ion-toolbar color=dark no-padding>
    <ion-title>{{page.pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color=light>
  <app-card [titles]="{title:'Outillage', subtitle:'Créer ou choisir'}">
    <ion-segment>
      <ion-segment-button value="existing" content-id="existing">
        <ion-label>Outillage existant</ion-label>
      </ion-segment-button>
      <ion-segment-button value="new" content-id="new">
        <ion-label>Nouvel outillage</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment-view> -->
<!-- OUTILLAGE EXISTANT -->
<!-- <ion-segment-content id="existing">
        <app-tool-input formControlName="tool"></app-tool-input>
      </ion-segment-content> -->
<!-- NOUVEL OUTILLAGE -->
<!-- <ion-segment-content id="new">
        <app-tool-form [isEditMode]="isEditMode()" [toolForm]="toolForm" />
      </ion-segment-content>
      </ion-segment-view>
  </app-card>
  <app-card [titles]="{title:'Demande'}">
    <app-sbo-form [isEditMode]="isEditMode()" [specSboForm]="specSboForm" />
  </app-card> -->

<!-- <app-sbo [spec]="newToolRequestForm" [tool]="newToolForm"></app-sbo> -->
<!-- </ion-content>
<ion-footer>
  <ion-toolbar color="light"> -->
<!-- TODO Transformer avec une autre bibliothèque -->
<!-- <ion-button [disabled]="toolForm.invalid || specSboForm.invalid" (click)="onSubmit()" slot=end expand="block"
      color=primary>
      @if(!isEditMode()){
      Créer la demande
      }@else{
Modifier la demande
      }

    </ion-button>
  </ion-toolbar>
</ion-footer> -->


<main class="p-3 surface-ground min-h-screen">
<p-card header="{{ page.pageTitle }}">
  <div class="two_column_form">
    <div class="column_form_header">
      <div class="px-4 pt-4">
        <h2 class="m-0 text-900 text-xl">Outillage</h2>
        <small class="text-secondary">Créer ou choisir</small>
      </div>
    </div>
    <form>
      <p-card class="mb-4 p-4">
        <p-tabs>
          <p-tablist>
            <p-tab value="0">Outillage existant</p-tab>
            <p-tab value="1">Nouvel outillage</p-tab>
          </p-tablist>

          <p-tabpanels class="pl-0">
            <p-tabpanel class="pl-0" value="0" header="Outillage existant">
              <div>
                <app-tool-input></app-tool-input>
              </div>
            </p-tabpanel>
              <p-tabpanel class="pl-0" value="1" header="Nouvel outillage">
                <div class="py-3">
                  <app-tool-form [isEditMode]="isEditMode()" [toolForm]="toolForm" />
                </div>
              </p-tabpanel>
              </p-tabpanels>
              </p-tabs>
              </p-card>
    </form>
    </div>

  <p-divider />
  <div class="two_column_form">
    <div class="column_form_header">
      <div class="px-4 pt-4">
        <h2 class="m-0 text-900 text-xl">Demande</h2>
        <small class="text-secondary">Créer ou choisir</small>
      </div>
    </div>
    <form>
      <p-card class="mb-4 p-4">
        <div>
          <app-sbo-form [isEditMode]="isEditMode()" [specSboForm]="specSboForm" />
        </div>
      </p-card>
    </form>
    </div>
    </p-card>
</main>

<footer class="sticky bottom-0 z-5">
  <p-toolbar class="border-top-1 surface-border bg-white shadow-2">
    <div class="p-toolbar-group-end w-full">
      <p-button [label]="isEditMode() ? 'Modifier la demande' : 'Créer la demande'"
        [disabled]="toolForm.invalid || specSboForm.invalid" (onClick)="onSubmit()"
        styleClass="w-full md:w-auto p-button-lg" severity="primary">
      </p-button>
    </div>
  </p-toolbar>
</footer>