<!-- ******************************* -->
<!-- **********   HEADER   *********** -->
<!-- ******************************* -->
 <!-- TODO FAIRE DE LA MISE EN FORME -->
<ion-header>
  <ion-toolbar color=dark no-padding>
    <ion-title>{{page.pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color=light>
  <app-card [titles]="{title:'Outillage', subtitle:'Créer ou choisir'}">
    <app-tool-form [isEditMode]="isEditMode()" [toolForm]="toolForm" />
  </app-card>
  <app-card [titles]="{title:'Demande'}">
    <app-sbo-form [isEditMode]="isEditMode()" [specSboForm]="specSboForm" />
  </app-card>

  <!-- <app-sbo [spec]="newToolRequestForm" [tool]="newToolForm"></app-sbo> -->
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <!-- TODO Transformer avec une autre bibliothèque -->
    <ion-button [disabled]="toolForm.invalid || specSboForm.invalid" (click)="onSubmit()" slot=end expand="block"
      color=primary>
      @if(!isEditMode()){
      Créer la demande
      }@else{
Modifier la demande
      }

    </ion-button>
  </ion-toolbar>
</ion-footer>