<ion-item>
  <ion-label>Outillage SAP : </ion-label>
  <ion-label *ngIf="tool"> {{(tool.sapToolNumber.length > 5) ? ' OT' : ' OT0'}}</ion-label>
  <ion-input toolInput type="text" placeholder="n°OT SAP ou n° Equipement SAP" [value]="tool?.sapToolNumber">
  </ion-input>
  <ion-spinner *ngIf="toolIsLoading" name="bubbles"></ion-spinner>
  <ion-icon *ngIf="tool" slot="end" name="checkmark" color=success></ion-icon>
</ion-item>
<ng-container *ngIf="tool">
  <ion-item>
    <ion-label>
      Désignation outillage
    </ion-label>
    <ion-input type="text" disabled="true" [value]="tool.designation"></ion-input>
  </ion-item>
</ng-container>