<ion-header>
    <ion-toolbar>
        <ion-title>admin</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-menu side="start" type="push" contentId="admin-content" max-edge-start=10>
        <ion-header>
            <ion-toolbar color="danger">
                <ion-title>Menu de l'admnistration</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item routerLink="admin-user">
                    <ion-label>Utilisateurs</ion-label>
                    <ion-badge slot="end">11</ion-badge>
                </ion-item>
                <ion-item>Outillages</ion-item>
                <ion-item>Moulages </ion-item>
                <ion-item>Kits</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="admin-content"></ion-router-outlet>
</ion-content>