<p-drawer [(visible)]="sidebarVisible" [blockScroll]="true" position="left" styleClass="w-20rem"
  header="Menu outillage">
  <div class="flex flex-column h-full">
    <div class="menu-category">
      <div class="p-3 font-bold text-secondary uppercase text-xs">Faire une demande</div>
      <ul class="list-none p-0 m-0">
        <li>
          <a pRipple routerLink="/tooling/new-tool"
            class="flex align-items-center p-3 text-700 hover:surface-100 border-right-3 border-yellow-400 transition-colors transition-duration-150 cursor-pointer"
            (click)="closeMenu()">
            <span class="font-medium">Nouvel outillage (SBO)</span>
          </a>
        </li>
        <li>
          <a pRipple routerLink="/tooling/repair" class="menu-item" (click)="closeMenu()">
            <span class="font-medium">Maintenance et réparation</span>
          </a>
        </li>
        <li>
          <a pRipple routerLink="/tooling/3d" class="menu-item" (click)="closeMenu()">
            <span class="font-medium">Contrôle 3D</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-category mt-3">
      <div class="p-3 font-bold text-secondary uppercase text-xs">Suivi</div>
      <ul class="list-none p-0 m-0">
        <li>
          <a pRipple routerLink="/tooling/requests" class="menu-item justify-content-between" (click)="closeMenu()">
            <span class="font-medium">Liste des demandes</span>
            @if (newRequestsCount > 0 && isManager) {
            <p-badge [value]="'New ' + newRequestsCount" severity="danger"></p-badge>
            }
          </a>
          </li>
          <li>
            <a class="menu-item p-disabled">
              <span class="font-medium">Liste des outillages</span>
            </a>
          </li>
          </ul>
          </div>

    @if (isManager) {
    <div class="menu-category mt-3">
      <div class="p-3 font-bold text-secondary uppercase text-xs">L'équipe</div>
      <ul class="list-none p-0 m-0">
        <li>
          <a pRipple routerLink="/manage-tool-team" class="menu-item justify-content-between" (click)="closeMenu()">
            <span class="font-medium">Gestion de l'équipe</span>
            @if (newRequestsCount > 0) {
            <p-badge [value]="'New ' + newRequestsCount" severity="danger"></p-badge>
              }
            </a>
            </li>
            <li>
              <a pRipple routerLink="/tool-indicators" class="menu-item" (click)="closeMenu()">
                <span class="font-medium">Indicateurs</span>
              </a>
            </li>
            </ul>
            </div>
            }
  </div>
  </p-drawer>