label[required]::after {
    content: ' *';
    color: var(--color-red-700);
}
.two_column_form{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    row-gap: 2rem;
    column-gap: 2rem;
}
.column_form_header{

}