<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Administration des moulages</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color=light>
    <ion-grid false>
        <ion-row>
            <ion-col size="8">
                <ion-card>
                    <ion-card-header>
                        <ion-toolbar class=ion-no-margin>
                            <ion-card-title>Liste des moulages</ion-card-title>
                            <ion-spinner slot=end *ngIf="moldingListLoading" name="circles"></ion-spinner>
                        </ion-toolbar>
                    </ion-card-header>
                    <ion-card-content>
                        <table mat-table [dataSource]="moldings" class="mat-elevation-z8">
                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> ID </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <!-- Moulé le Column -->
                            <ng-container matColumnDef="moldingDay">
                                <th mat-header-cell *matHeaderCellDef> Date du moulage </th>
                                <td mat-cell *matCellDef="let element"> {{element.moldingDay | date: "dd/MM/yyyy"}} </td>
                            </ng-container>
                            <!-- Créé par Column -->
                            <ng-container matColumnDef="createdBy">
                                <th mat-header-cell *matHeaderCellDef> Créé par </th>
                                <td mat-cell *matCellDef="let element"> {{element.createdBy.username}} </td>
                            </ng-container>
                            <!-- Outillage Column -->
                            <ng-container matColumnDef="outillage">
                                <th mat-header-cell *matHeaderCellDef> Outillage </th>
                                <td mat-cell *matCellDef="let element"> {{element.outillage.sapToolNumber}} </td>
                            </ng-container>

                            <!-- commands Column -->
                            <ng-container matColumnDef="commands">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element">
                                    <ion-button expand="block" fill="solid" shape="round">
                                        Valider
                                    </ion-button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedMoldingColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedMoldingColumns;"></tr>
                        </table>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="4">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Tableau de bord</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle>Nouveaux moulages</ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                                GRAPHIQUE ICI
                                <!-- <canvas #newUsers></canvas> -->
                            </ion-card-content>
                        </ion-card>

                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle>Nombre de connexions par jour</ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                                GRAPHIQUE ICI
                            </ion-card-content>
                        </ion-card>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>




</ion-content>
