<ion-header>
  <ion-toolbar>
    <ion-title>Administration des moulages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color=light>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <app-admin-molding-list [moldings]=moldings></app-admin-molding-list>

      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Tableau de bord</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Nouveaux moulages</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                GRAPHIQUE ICI
                <!-- <canvas #newUsers></canvas> -->
              </ion-card-content>
            </ion-card>

            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Nombre de connexions par jour</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                GRAPHIQUE ICI
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
