<ion-header>
  <ion-toolbar>
    <ion-title>Création d'un utilisateur</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <!-- <ion-grid class="ion-align-items-center ion-justify-content-center"> -->
  <!-- <ion-row class="full-height"> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title color=primary>Fiche de renseignements</ion-card-title>
      <ion-text color="medium">
        <h3>La création du compte est soumise à validation du chef d'équipe ou de l'administrateur</h3>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerForm">
        <ion-slides #slider pager="false" [options]="slideOpts">
          <ion-slide formGroupName="roleForm">
            <ion-list>

              <ion-item>
                <ion-label color=primary>Site
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select required formControlName="site" placeholder="Selectionner un site">
                  <ion-select-option *ngFor="let site of sites$ | async" [value]="site.id">
                    {{site.nom}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label color=primary>Unite
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select required formControlName="unite" placeholder="Selectionner une unité">
                  <ion-select-option *ngFor="let unite of unites$ | async" [value]="unite.id">
                    {{unite.nom}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label color=primary>Service
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select required formControlName="service" placeholder="Sélectionner un service">
                  <ion-select-option *ngFor="let service of services$ | async" [value]="service.id">
                    {{service.nom}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label>Poste
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select required name="poste" formControlName="poste" placeholder="Sélectionner un poste">
                  <ion-select-option *ngFor="let role of roles$ | async" [value]="role.id">
                    {{role.libelle}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

          </ion-slide>
          <ion-slide>
            <!-- <form [formGroup]="roleForm" (submit)="submitNewUser()"> -->
            <ion-grid fixed class="ion-align-items-center ion-justify-content-center" formGroupName="identityForm">
              <ion-row>
                <ion-col size="12">
                  <ion-label>Identité</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <!-- **************************** -->
                <!-- *********    NOM    ******** -->
                <!-- **************************** -->
                <ion-col size="6">
                  <ion-item>
                    <ion-label color=primary position="floating">Nom
                      <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required formControlName="lastName" type="text"></ion-input>
                  </ion-item>
                </ion-col>
                <!-- **************************** -->
                <!-- *******    PRENOM   ******** -->
                <!-- **************************** -->
                <ion-col size="6">
                  <ion-item>
                    <ion-label color=primary position="floating">Prénom
                      <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required formControlName="firstName" type="text"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <!-- **************************** -->
                <!-- *****   MOT DE PASSE   ***** -->
                <!-- **************************** -->
                <ion-col size="12">
                  <ion-item *ngIf="registerForm.controls.roleForm.value.poste !==4">
                    <ion-label color=primary position="floating">Mot de passe
                      <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="password" name="password" formControlName="password"></ion-input>
                    <ion-note>Le mot de passe doit faire entre 6 et 12 caractères. Il doit au moins contenir une
                      majuscule et un chiffre</ion-note>
                  </ion-item>
                  <!-- **************************** -->
                  <!-- ****  CTRL MOT DE PASSE  *** -->
                  <!-- **************************** -->
                  <ion-item *ngIf="registerForm.controls.roleForm.value.poste !==4">
                    <ion-label color=primary position="floating">Répéter mot de passe
                      <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input formControlName="confirmPassword" name="confirmPassword" type="password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <!-- **************************** -->
                <!-- ******   MATRICULE   ******* -->
                <!-- **************************** -->
                <ion-col size="6">
                  <ion-item>
                    <ion-label color=primary position="floating">Matricule
                      <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required formControlName="matricule" type="text"></ion-input>
                  </ion-item>
                </ion-col>
                <!-- **************************** -->
                <!-- ******   TELEPHONE   ******* -->
                <!-- **************************** -->
                <ion-col size="6">
                  <ion-item>
                    <ion-label color=primary position="floating">Téléphone
                      <!-- <ion-text color="danger">*</ion-text> -->
                    </ion-label>
                    <ion-input formControlName="telephone" type="text"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- </form> -->
          </ion-slide>
        </ion-slides>
      </form>
    </ion-card-content>
  </ion-card>
  <!-- </ion-row> -->
  <!-- </ion-grid> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button *ngIf="currentpage===0" slot=end color=primary (click)="submitRole()" fill="solid" strong
      [disabled]="registerForm.controls.roleForm.invalid">
      Suivant
    </ion-button>
    <ion-button *ngIf="currentpage!==0" slot=end (click)="submitNewUser()" [disabled]="registerForm.invalid">
      S'enregistrer
    </ion-button>
  </ion-toolbar>
</ion-footer>
