<ion-header>
    <ion-toolbar>
        <ion-title>Maintenance et Réparation</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <form class="main-form" [formGroup]="maintRepForm" (ngSubmit)="submitMaintenanceForm()">
                    <ion-card color=light padding>
                        <ion-card-header>
                            <ion-card-title class="ion-text-uppercase">L'outillage</ion-card-title>
                        </ion-card-header>
                        <ion-item>
                            <ion-label>Outillage</ion-label>
                            <!-- upDateSpec Select Dynamique -->
                            <!-- <ion-select required formControlName="outillage">
                                <ion-select-option *ngFor="let type of typeRapport| keyvalue" [value]="type.value">{{type.value}}</ion-select-option>
                            </ion-select> -->
                            <ion-input formControlName="outillage" #toolNumber type="text" placeholder="n°OT SAP ou n° Equipement SAP" (change)="toolOnChange(toolNumber.value.toString())"></ion-input>
                        </ion-item>
                    </ion-card>
                    <ion-card>
                        <ion-card-header class="flex-row" color=light>
                            <ion-title class="ion-text-uppercase">La maintenance</ion-title>
                            <ion-button (click)="addMaintenanceItem()">
                                <ion-icon slot="start" name="add"></ion-icon>
                                Ajouter une maintenance
                            </ion-button>
                        </ion-card-header>
                        <ion-list>
                            <ion-item color=light *ngFor="let maintenanceItem of toolRequest.maintenance.maintenanceItems">
                                <app-maintenance-item [maintenanceItem]="maintenanceItem" (evValidateItem)="onValidateItem($event,maintenanceItem)"></app-maintenance-item>
                            </ion-item>
                        </ion-list>
                    </ion-card>
                    <ion-card>
                        <!-- Datetime in overlay -->
                        <ion-item button id="open-date-besoin">
                            <ion-label>Date butoir demandée</ion-label>
                            <ion-icon slot=end icon="calendar-outline"></ion-icon>
                            <ion-text slot="end" *ngIf="toolRequest.maintenance.dateBesoin">
                                {{toolRequest.maintenance.dateBesoin | date:"dd/MM/yyyy"}}</ion-text>
                            <!-- <ion-button id="open-modal">Open Datetime Modal</ion-button> -->
                            <ion-modal trigger="open-date-besoin">
                                <ng-template>
                                    <ion-content>
                                        <ion-datetime #popoverDatetime2 presentation="date" formControlName="needDate" display-format="DD.MM.YYYY" (ngModelChange)="toolRequest.maintenance.dateBesoin = dateValue(popoverDatetime2.value)">
                                            <div slot="title">Date butoir demandée</div>
                                        </ion-datetime>
                                    </ion-content>
                                </ng-template>
                            </ion-modal>

                        </ion-item>


                    </ion-card>
                </form>
            </ion-col>
            <ion-col size="6">
                <!-- <app-spec-maintenance-reparation></app-spec-maintenance-reparation> -->
            </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
    </ion-grid>


    <!-- <app-controleddd></app-controleddd> -->
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button slot=end (click)="pdfExportClick()">
            <ion-icon slot="end" name="document-attach-outline"></ion-icon>
            Exporter pdf
        </ion-button>
        <ion-button slot=end block color="success" [disabled]="maintRepForm.invalid" (click)="submitMaintenanceForm()">
            <ion-icon slot="end" name="send-outline"></ion-icon>
            Envoyer
        </ion-button>
    </ion-toolbar>
</ion-footer>
