.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

.main-form {
    overflow-y: auto;
}
