<ion-header>
    <ion-toolbar>
        <ion-title>Création d'un utilisateur</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="ion-align-items-center ion-justify-content-center">
        <ion-row class="full-height">
            <ion-card class="ion-padding">
                <ion-card-header>
                    <ion-card-title color=primary>Fiche de renseignements</ion-card-title>
                    <ion-text color="medium">
                        <h3>La création du compte est soumise à validation du chef d'équipe ou de l'administrateur</h3>
                    </ion-text>
                </ion-card-header>
                <ion-card-content>
                    <!-- <form [formGroup]="registerForm " (ngSubmit)="onRegisterSubmit() "> -->
                    <ion-slides #slider pager="false" [options]="slideOpts">
                        <ion-slide>
                            <form [formGroup]="roleForm" (submit)="submitRole()">
                                <ion-grid class="ion-align-items-center ion-justify-content-center">
                                    <ion-row>
                                        <ion-col size="3">
                                            <ion-radio-group required formControlName="site">
                                                <ion-list-header>
                                                    <ion-label color=primary>Site
                                                        <ion-text color="danger">*</ion-text>
                                                    </ion-label>
                                                </ion-list-header>
                                                <ion-item *ngFor="let site of sites">
                                                    <ion-label>{{site.nom}}</ion-label>
                                                    <ion-radio [value]="site.id"></ion-radio>
                                                </ion-item>
                                            </ion-radio-group>
                                        </ion-col>
                                        <ion-col size="3">
                                            <ion-radio-group required formControlName="unite">
                                                <ion-list-header>
                                                    <ion-label color=primary>Unite
                                                        <ion-text color="danger">*</ion-text>
                                                    </ion-label>
                                                </ion-list-header>
                                                <ion-item *ngFor="let unite of unites">
                                                    <ion-label>{{unite.nom}}</ion-label>
                                                    <ion-radio [value]="unite.id"></ion-radio>
                                                </ion-item>
                                            </ion-radio-group>
                                        </ion-col>
                                        <ion-col size="3">
                                            <ion-radio-group required formControlName="service">
                                                <ion-list-header>
                                                    <ion-label color=primary>Service
                                                        <ion-text color="danger">*</ion-text>
                                                    </ion-label>
                                                </ion-list-header>
                                                <ion-item *ngFor="let service of services">
                                                    <ion-label>{{service.nom}}</ion-label>
                                                    <ion-radio [value]="service.id"></ion-radio>
                                                </ion-item>
                                            </ion-radio-group>
                                        </ion-col>
                                        <ion-col size="3">
                                            <ion-radio-group required formControlName="poste">
                                                <ion-list-header>
                                                    <ion-label color=primary>Rôle
                                                        <ion-text color="danger">*</ion-text>
                                                    </ion-label>
                                                </ion-list-header>
                                                <ion-item *ngFor="let role of roles">
                                                    <ion-label>{{role.libelle}}</ion-label>
                                                    <ion-radio [value]="role.id"></ion-radio>
                                                </ion-item>
                                            </ion-radio-group>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                                <ion-button color=primary type=submit fill="solid" strong [disabled]="roleForm.invalid">
                                    Suivant
                                </ion-button>
                            </form>
                        </ion-slide>
                        <ion-slide>
                            <form [formGroup]="identityForm" (submit)="submitNewUser()">
                                <ion-grid fixed class="ion-align-items-center ion-justify-content-center">
                                    <ion-row>
                                        <ion-col size="12">
                                            <ion-label>Identité</ion-label>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size="6">
                                            <ion-item>
                                                <ion-label color=primary position="floating">Nom
                                                    <ion-text color="danger">*</ion-text>
                                                </ion-label>
                                                <ion-input required formControlName="lastName" type="text"></ion-input>
                                            </ion-item>

                                        </ion-col>
                                        <ion-col size="6">
                                            <ion-item>
                                                <ion-label color=primary position="floating">Prénom
                                                    <ion-text color="danger">*</ion-text>
                                                </ion-label>
                                                <ion-input required formControlName="firstName" type="text"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size="12">
                                            <ion-item *ngIf="roleForm.value.poste !==1">
                                                <ion-label color=primary position="floating">Mot de passe
                                                    <ion-text color="danger">*</ion-text>
                                                </ion-label>
                                                <ion-input type="password" formControlName="password"></ion-input>
                                            </ion-item>
                                            <ion-item *ngIf="roleForm.value.poste !==1">
                                                <ion-label color=primary position="floating">Répéter mot de passe
                                                    <ion-text color="danger">*</ion-text>
                                                </ion-label>
                                                <ion-input formControlName="confirmPassword" type="password"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size="6">
                                            <ion-item>
                                                <ion-label color=primary position="floating">Matricule
                                                    <ion-text color="danger">*</ion-text>
                                                </ion-label>
                                                <ion-input required formControlName="matricule" type="text"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col size="6">
                                            <ion-item>
                                                <ion-label color=primary position="floating">Téléphone
                                                    <ion-text color="danger">*</ion-text>
                                                </ion-label>
                                                <ion-input required formControlName="telephone" type="text"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                                <ion-button color=primary type=submit fill="solid" strong type="submit" [disabled]="identityForm?.invalid">
                                    {{(language ==='FR') ? "S'enregistrer" : "Register"}}
                                </ion-button>
                            </form>
                        </ion-slide>
                    </ion-slides>
                </ion-card-content>
                <!-- </form> -->
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
         <ion-button (click)="onClick()">
  <ion-icon slot="start" name="add"></ion-icon>
  {{OtherLanguage}}
</ion-button>
        <ion-button slot=end (click)="switchToEnglish()" fill="clear" shape="round">
            EN
        </ion-button>
        <ion-button slot=end (click)="switchToFrench()" fill="clear" shape="round">
            FR
        </ion-button>
    </ion-toolbar>
</ion-footer> -->
