<ion-header>
    <ion-toolbar>
        <ion-title>Liste des demandes</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-toolbar>
        <ion-title>Filtrer</ion-title>
        <ion-segment (ionChange)="filterRequestTypeChanged($event)">
            <ion-segment-button value="controle" [style.border-left]="getBorder('controle')">
                <ion-label>Controle</ion-label>
            </ion-segment-button>
            <ion-segment-button value="maintenance" [style.border-left]="getBorder('maintenance')">
                <ion-label>Maintenance et réparation</ion-label>
            </ion-segment-button>
            <ion-segment-button value="sbo" disabled="true">
                <ion-label>SBO</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div class="table ion-justify-content-center ion-align-items-center">
        <table *ngIf="requestList" mat-table #table [dataSource]="tableRequestsDataSource" class="mat-elevation-z8" fixedLayout=true>
            <ng-container matColumnDef="statut">
                <th mat-header-cell *matHeaderCellDef>
                    Statut
                </th>
                <td [style.border-left]="getBorder(request)" mat-cell *matCellDef="let request">
                    {{ request.statut }}</td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>
                    Numéro
                </th>
                <td mat-cell *matCellDef="let request">
                    {{request.id}}
                </td>
            </ng-container>

            <ng-container matColumnDef="tool">
                <th mat-header-cell *matHeaderCellDef>
                    Outillage
                </th>
                <td mat-cell *matCellDef="let request">
                    OT{{request.controle.outillage.sapToolNumber}} - {{request.controle.outillage.designation}}
                </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>
                    Date demande
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.createdAt |date :"EEEE dd MMMM yyyy":"local" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="userCreat">
                <th mat-header-cell *matHeaderCellDef>
                    Demandeur
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.userCreat}}
                </td>
            </ng-container>

            <ng-container matColumnDef="needDate">
                <th mat-header-cell *matHeaderCellDef>
                    Date Besoin
                </th>
                <td mat-cell *matCellDef="let request">
                    {{request.controle.dateBesoin|date :"dd MMMM yyyy":"local"}}
                </td>
            </ng-container>
            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef>
                    Commandes
                </th>
                <td mat-cell *matCellDef="let element">
                    <ion-button *ngIf="element.controle" (click)="openControlClick(element)" expand="block" fill="clear" shape="round">
                        Ouvrir
                    </ion-button>
                    <ion-button *ngIf="element.maintenance" (click)="openMaintenanceClick(element)" expand="block" fill="clear" shape="round">
                        Ouvrir
                    </ion-button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedRequestColumns ;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedRequestColumns "></tr>
        </table>
    </div>
</ion-content>
