<form [formGroup]="toolForm()">
  <!-- Numéro d'OT -->
  <p-floatlabel variant="on">
    <input pInputText id="on_label" autocomplete="off" formControlName="sapToolNumber" placeholder="ex. OT095999" />
    <label for="on_label">Numéro d'OT SAP<span color="danger"> *</span></label>
  </p-floatlabel>
  <!-- Numéro identification -->
  <p-floatlabel variant="on">
    <input pInputText id="on_label" autocomplete="off" formControlName="identification"
      placeholder="ex. 19900Z01-T700P5522000123" />
    <label for="on_label">Numéro d'identification<span color="danger"> *</span></label>
  </p-floatlabel>
  <!--Désignation -->
  <p-floatlabel variant="on">
    <input pInputText id="on_label" autocomplete="off" formControlName="designation" placeholder="Désignaiton" />
    <label for="on_label">Désignation<span color="danger"> *</span></label>
  </p-floatlabel>
  </form>