<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <p-floatlabel variant="on">
    <input pInputText id="on_label" autocomplete="off" formControlName="email" placeholder="email ou matricule" />
    <label for="on_label">Nom d'utilisateur<span color="danger"> *</span></label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <input pInputText id="on_label" autocomplete="off" formControlName="password" placeholder="" />
    <label for="on_label">Mot de passe<span color="danger"> *</span></label>
  </p-floatlabel>

<p-button-group class="buttons">
  <p-button type="submit" [disabled]="loginForm.invalid" severity="primary" label="Se connecter" icon="pi pi-user" />
  <p-button severity="primary" label="Créer un compte" icon="pi pi-user" [routerLink]="['/register']" />
  <p-button disabled="true" severity="secondary" label="Profile" icon="pi pi-user" />
</p-button-group>
</form>