<form [formGroup]="loginForm" class="full-height" (ngSubmit)="submit()">
      <ion-item>
<ion-input helperText="Le nom d'utilisateur est le numéro de matricule présent sur le badge" labelPlacement="floating"
  formControlName="username" type="text" autocomplete=off autofocus="true">
  <div slot="label">Nom d'utilisateur<ion-text color="danger">*</ion-text></div>

        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" label="Mot de passe" type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-buttons class="buttons">
        <ion-button block color="primary" type="submit" fill=solid [disabled]="loginForm.invalid">
          Se connecter
        </ion-button>
        <ion-button color="primary" [routerLink]="['/register']"> Créer un compte
        </ion-button>
        <ion-button disabled="true" color="secondary" fill=solid>
          <ion-icon slot="start" name="accessibility-outline"></ion-icon>
          Visiteur
        </ion-button>
      </ion-buttons>


</form>