<ion-content [fullscreen]="true" class="molding-list-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Liste des moulages</ion-title>
      <ion-spinner slot=end *ngIf="moldingListLoading" name="circles"></ion-spinner>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="filters-content" menuId="filters-menu">
    <ion-header>
      <ion-toolbar color=light>
        <ion-title>Recherche avancée</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-moldings-filters></app-moldings-filters>
    </ion-content>
  </ion-menu>
  <ion-content [fullscreen]="true" id="filters-content">
    <ion-grid style="width:100%;">
      <ion-row color=medium class="ion-padding">
        <ion-col size=1>
          <ion-menu-button menu="filters-menu" autoHide="false">
            <ion-icon name="filter-outline"></ion-icon>
          </ion-menu-button>
        </ion-col>
        <ion-col>Date de création</ion-col>
        <ion-col>Créé par</ion-col>
        <ion-col>Outillage de moulage</ion-col>
      </ion-row>
      <ion-row *ngFor="let molding of filteredMoldings; let index = index;" (click)="toggleOptions(slidingItem)">
        <ion-item-sliding #slidingItem [disabled]="true">
          <ion-item button class="ion-text-left" lines="full">
            <ion-col size=1>
              <ion-chip [color]="(molding.isActive) ? 'success' : 'danger'" mode="ios" outline="true">
                <ion-label>{{molding.id}}</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col>
              <ion-text> {{molding.moldingDay | DateHeure}} </ion-text>
            </ion-col>

            <ion-col>
              <ion-text> {{molding.userCreat.username}} </ion-text>
            </ion-col>
            <ion-col>
              <ion-text> {{molding.OT.sapToolNumber}} - {{molding.OT.designation}}</ion-text>
            </ion-col>
          </ion-item>
          <ion-item-options>
            <ion-item-option [routerLink]="'/molding/create-molding/'+molding.id">OUVRIR</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="nextPage()" expand="block" fill="clear" shape="round">
        Charger plus
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
