<!-- ******************************* -->
<!-- **********   HEADER   *********** -->
<!-- ******************************* -->
 <!-- TODO FAIRE UN COMPOSANT COMMUN QUI GERE LE TITRE -->
<ion-header>
  <ion-toolbar color=dark no-padding>
    <ion-title>{{page.pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- ******************************* -->
<!-- **********   CONTENT   *********** -->
<!-- ******************************* -->
<ion-content>
  <!-- TODO Revoir la mise en page scroll partie droite -->
  <app-card [titles]="{title:'Outillage', subtitle:'Créer ou choisir'}">
    <app-tool-input formControlName="tool" />
    <!-- <app-tool-form [isEditMode]="isEditMode()" [toolForm]="toolForm" /> -->
  </app-card>
  <app-card [titles]="{title:'Controle 3D', subtitle:'description'}">
    <app-control3-dform [specCtrlForm]="controlForm" />
  </app-card>
  <!-- <div class="print-preview">
      <app-controleddd [toolRequest]="toolRequest"></app-controleddd>
    </div> -->
</ion-content>
<!-- ******************************* -->
<!-- **********   FOOTER   *********** -->
<!-- ******************************* -->
<ion-footer>
  <app-tool-request-footer [canSubmit]="controlForm.valid" [canManage]="canManage()" [canUpdate]="canUpdate()" (submit)="onSubmit()" />
</ion-footer>