<ion-header [translucent]="true">
  <ion-toolbar color=primary>
    <!--  -->
    <!-- left side -->
    <!--  -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="light" *ngIf=!hideMenuIcon menu="main-menu"></ion-menu-button>
      <ion-img class="ion-hide-sm-down logo" src="assets/images/logoDaherFondBleu.png" (click)="navigate('home')">
      </ion-img>
    </ion-buttons>
    <!--  -->
    <!-- middle side -->
    <!--  -->
    <ion-title class="ion-text-uppercase ion-text-center">{{title}}</ion-title>
    <!--  -->
    <!-- right side -->
    <!--  -->
    <ion-label slot=end class="dev ion-hide-sm-down">{{envMode}}</ion-label>
    <ion-chip #buttonProfil color=light slot=end class=ion-margin-end outline (click)="triggerUserPopover($event)">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label color=light>{{user?.username}}</ion-label>
    </ion-chip>
    <!-- <ion-popover trigger="button-profil" triggerAction="context-menu" alignment="end" side="bottom"
      dismissOnSelect="true">
      <ng-template>
        <ion-content>

        </ion-content>
      </ng-template>
    </ion-popover> -->
    <ion-button class="ion-hide-sm-down margin" slot=end color="danger" (click)="logoutClick()">
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
      <ion-label class="ion-hide-md-down">Déconnexion</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>
<!-- <ion-content> -->
<!-- TODO transformer en modale -->
<!-- <app-user-sheet [user]="user" [userState]="isUserOpen" (stateChangeEv)="isUserOpen = $event"></app-user-sheet> -->
<!-- </ion-content> -->
<!-- <app-user-sheet [user]="selectedUser" [userState]="isUserSelected" (stateChangeEv)="isUserSelected=$event">
</app-user-sheet> -->