.margin {
  margin-right: 10px;
}

.logo {
  width: 100px;
}

@media print {
  :host {
    display: none;
  }
}
.dev {
  color: red;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  padding-right: 100px;
}
