<form [formGroup]="specCtrlForm()">
  <ion-grid>
    <ion-row>
      <ion-col size="6">

        <!-- ******************************* -->
        <!-- *******   COMPLEMENT    ******* -->
        <!-- ******************************* -->
        <app-card [titles]="{title:'Complément'}">
            <ion-item>
              <ion-label>Bloquant Prod</ion-label>
              <ion-toggle slot="end" formControlName="bloquantProd"></ion-toggle>
            </ion-item>

            <!-- ******************************* -->
            <!-- ****   DATE MISE A DISPO   **** -->
            <!-- ******************************* -->
                    <ion-item>
          <ion-input labelPlacement="floating" type="date" display-format="EEEE DD-MM-YYYY" formControlName="dispoOut">
            <div slot="label">Date de mise à disposition au service outillage<ion-text color="danger"> *</ion-text></div>
          </ion-input>
          </ion-item>


            <!-- ******************************* -->
            <!-- ********   LA PIECE   ********* -->
            <!-- ******************************* -->
            <div class="flex-row">

              <!-- ******************************* -->
              <!-- ********   reference   ******** -->
              <!-- ******************************* -->


              <ion-item>
                <ion-input labelPlacement="floating" required #refPlan formControlName="refPlan" type="text"
                  placeholder="indiquer n° de plan">
                  <div slot="label">Référence pièce<ion-text color="danger"> *</ion-text></div>
                </ion-input>
              </ion-item>

              <!-- ******************************* -->
              <!-- ********   INDICE   *********** -->
              <!-- ******************************* -->


              <ion-item>
                <ion-input labelPlacement="floating" required #indPlan formControlName="indPlan" type="text"
                  placeholder="indiquer l 'indice du plan">
                  <div slot="label">Indice plan<ion-text color="danger"> *</ion-text></div>
                </ion-input>
              </ion-item>
            </div>


            <!-- ******************************* -->
            <!-- *******   CHEMIN CAO   ******** -->
            <!-- ******************************* -->


            <ion-item>
              <ion-input labelPlacement="floating" label="Format du modèle 3D fourni si nécessaire" #caoPath
                formControlName="cheminCAO" type="text"
                placeholder="Fournir CAO et / ou chemin d’accès">
              </ion-input>
            </ion-item>
        </app-card>


        <!-- ******************************* -->
        <!-- *******   LE RAPPORT   ******** -->
        <!-- ******************************* -->
        <app-card [titles]="{title:'Le rapport'}">
          <!-- ******************************* -->
          <!-- *******   DATE BUTOIR   ******* -->
          <!-- ******************************* -->
                               <ion-item>
          <ion-input labelPlacement="floating" type="date" display-format="EEEE DD-MM-YYYY" formControlName="dateBesoin">
            <div slot="label">Date butoir demandée<ion-text color="danger"> *</ion-text></div>
          </ion-input>
          </ion-item>


          <!-- ******************************* -->
          <!-- *********   OI eOTP   ********* -->
          <!-- ******************************* -->


          <ion-item>
            <ion-input labelPlacement="floating" #ligneBudgetaire required formControlName="ligneBudgetaire" type="text"
              placeholder="Indiquez le n° pour imputation">
              <div slot="label">Oi ou Eotp<ion-text color="danger"> *</ion-text></div>
            </ion-input>
          </ion-item>

          <!-- ******************************* -->
          <!-- ******   TYPE RAPPORT   ******* -->
          <!-- ******************************* -->


          <ion-item>
            <ion-select  #typeRapportSelect formControlName="typeRapport">
              @for(type of typeRapport| keyvalue; track $index){
              <ion-select-option [value]="type.value">{{type.value}}</ion-select-option>
              }
               <div slot="label">Types de rapport<ion-text color="danger"> *</ion-text></div>
            </ion-select>
          </ion-item>
        </app-card>


      </ion-col>
      <ion-col size="6">
        <!-- ******************************* -->
        <!-- ******   LE CONTROLE   ******** -->
        <!-- ******************************* -->
        <app-card [titles]="{title:'Le contrôle'}">
            <!-- ******************************* -->
            <!-- ******   DESCRIPTION   ******** -->
            <!-- ******************************* -->
            <div class="vertical">
              <ion-item lines="none">
                <ion-label>But du contrôle, de l'essai ou de l 'expertise
                  <ion-text color="danger">*</ion-text>
                </ion-label>
              </ion-item>
              <!-- base_url: '/tinymce',
          suffix: '.min', -->
              <editor #ctrlReasons slot="" formControlName="description" [init]="{
            plugins: 'lists link image table wordcount',
            toolbar:'bold italic underline strikethrough forecolor fontsize styles | alignleft aligncenter alignright alignjustify | bullist numlist | h1 h2 h3 |',
            menubar: false,
            statusbar:false,
            object_resizing: true,
            placeholder:'Descriptif de la mesure demandée (contrôle réception, suite à choc, déménagement d’outillage ou autre)',
            height:150,
            inline: false
          }"></editor>
              <!-- <ion-textarea autoGrow required #ctrlReasons formControlName=" ctrlReasons " type="text " (ionChange)="test() "></ion-textarea> -->
              <!-- <ion-note></ion-note> -->
            </div>


            <!-- ******************************* -->
            <!-- *********   DETAIL   ********** -->
            <!-- ******************************* -->
            <div class="vertical">
              <ion-item lines="none">
                <ion-label>Détails de la mesure
                  <ion-text color="danger">*</ion-text>
                </ion-label>
              </ion-item>
              <editor #ctrlReasons slot="" formControlName="detailsControle" [init]="{
            plugins: 'lists link image table wordcount',
            menubar: false,
            statusbar:false,
            placeholder:'lieux, référentiel...',
            height:150
          }"></editor>
              <!-- <ion-textarea autoGrow required #ctrlDetails formControlName="ctrlDetails" type="text"
            placeholder="lieux, référentiel..."></ion-textarea> -->
            </div>

            <!-- ******************************* -->
            <!-- **  PRECISION / TOLERANCES   ** -->
            <!-- ******************************* -->
            <div class="vertical">
              <ion-item lines="none">
                <ion-label>Précision demandée et attendue
                  <ion-text color="danger">*</ion-text>
                </ion-label>
              </ion-item>
              <editor #ctrlReasons slot="" formControlName="tolerances" [init]="{
              plugins: 'lists link image table wordcount',
              menubar: false,
              statusbar:false,
              placeholder:'IT plans et spécifications de définition',
              height:150
            }"></editor>
              <!-- <ion-textarea autoGrow required #tolerance formControlName="precisionTolerances" type="text"
              placeholder="IT plans et spécifications de définition"></ion-textarea> -->
            </div>
        </app-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- *********************************************************************************************** -->
        <!-- *********************************************************************************************** -->
        <!-- ******************************* -->
        <!-- *******   LA MESURE   ********* -->
        <!-- ******************************* -->
        @if(requestState()){
        <app-card [titles]="{title:'La Mesure'}">
          <ion-item>
            <!-- <ion-label position="stacked"></ion-label> -->
            <ion-input label="Durée d'immobilisation estimée de l'outillage" labelPlacement="stacked" type="number"
              formControlName="immobilisationOutillage" />
            <ion-note slot="end">en jours</ion-note>
          </ion-item>
        
                                         <ion-item>
          <ion-input label="Date d'intervention" labelPlacement="floating" type="date" display-format="EEEE DD-MM-YYYY" formControlName="interventionDate">
          </ion-input>
          </ion-item>

        
          <div class="vertical">
        
            <ion-item>
              <ion-label>Informations complémentaires
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <!-- <ion-input #infosComplementaire formControlName="infosComplementaire" type="text"
                       placeholder="Information complémentaire"></ion-input> -->
            </ion-item>
            <editor #infosComplementaire slot="" formControlName="infosComplementaire" [init]="{
                       plugins: 'lists link image table wordcount',
                       menubar: false,
                       statusbar:false,
                       placeholder:'Information complémentaire',
                       height:150
                     }"></editor>
          </div>
        
          <ion-item>
            <ion-label>Moyen de mesure</ion-label>
            <ion-select #moyenMesureSelect formControlName="moyenMesure">
              @for(moyen of moyenMesure | keyvalue; track $index){
              <ion-select-option [value]="moyen.value">{{moyen.value}}
              </ion-select-option>
              }
            </ion-select>
          </ion-item>
        </app-card>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</form>