<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot=start (click)="backClick()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notice page Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <section class="ion-margin ion-padding" style="background-color:red">
    <ion-title>Connexion</ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sans mot de passe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Votre rôle est : COMPAGNON, USER ... votre nom d'utilisateur est le numéro de matricule (avec ou sans les
          zéros de la gauche)</p>
        <p>Vous pouvez soit scanner le qr-code soit le taper directement</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Avec mot de passe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Taper votre matricule en nom d'utilisateur. Taper votre mot de passe puis cliquer sur "SE CONNECTER"</p>
      </ion-card-content>
    </ion-card>
  </section>
  <section class="ion-margin ion-padding" color=light style="background-color:red">
    <ion-title>Vous n'avez pas de compte</ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Créer un compte</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Si vous voulez vous créer un compte cliquer sur "CREER UN COMPTE"</p>
      </ion-card-content>
    </ion-card>

  </section>
  <section class="ion-margin ion-padding">
    <ion-title>Questions fréquentes</ion-title>
    <p>Vous tapez votre nom d'utilisateur mais impossible de vous connecter : vérifiez si vous avez créer un comte.</p>
  </section>
</ion-content>
