// ********************************
// MATERIAL TABLE STYLING
// ********************************
.table {
  color: black;

}
.table-header-row {
  text-transform: uppercase;
  font-size: 14px;
  background-color: rgb(244, 245, 248);
}
.table-data-row {
  font-size: 16px;
  // padding: 3px;
}
ion-item{
  --background-hover: var(--ion-color-secondary);

}

