@let canEdit = store.canEdit();
<!-- ******************************* -->
<!-- **********   HEADER   *********** -->
<!-- ******************************* -->
<app-request-header [title]="page.pageTitle" [canEdit]="canEdit" [isLocked]="false"></app-request-header>
<!-- ******************************* -->
<!-- **********   CONTENT   *********** -->
<!-- ******************************* -->

  <form [formGroup]="controlForm">
  <!-- TODO Revoir la mise en page scroll partie droite -->
  <app-card [titles]="{title:'Outillage', subtitle:'Créer ou choisir'}">
    <app-tool-input formControlName="tool" [disabled]="!canEdit" />
    <!-- <app-tool-form [isEditMode]="isEditMode()" [toolForm]="toolForm" /> -->
  </app-card>
  <app-card [titles]="{title:'Controle 3D', subtitle:'description'}">
    <app-control3-dform [specCtrlForm]="controlForm" />
  </app-card>
  <!-- <div class="print-preview">
      <app-controleddd [toolRequest]="toolRequest"></app-controleddd>
    </div> -->
    </form>

<!-- ******************************* -->
<!-- **********   FOOTER   *********** -->
<!-- ******************************* -->
<!-- TODO FOOTER COMPONNENT -->
  <app-tool-request-footer [canSubmit]="controlForm.valid" [canManage]="canManage()" [canUpdate]="canUpdate()" (submit)="onSubmit()" />
