<header>
  <p-toolbar>
    <ng-template #start>
      <img src="assets/images/logoDaherFondBleu.png" width="100px" alt="logo entreprise">
    </ng-template>
    <ng-template #end>
      <div class="fab-container">
        <p-button icon="pi pi-info-circle" [rounded]="true" [text]="true" severity="secondary" (onClick)="showNotice()"
          aria-label="info">
        </p-button>
      </div>
    </ng-template>
    </p-toolbar>
    </header>
    

  <app-login-form (onSubmit)="connection($event)" />


<footer class="version-footer py-4 text-center text-sm text-gray-500">
  <div class="version-text">
    Version : {{ version() }}
  </div>
</footer>