<ion-header>
  <ion-toolbar color=dark no-padding>
    <ion-title>{{page.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color=light>
  <!-- TODO Revoir la mise en page scroll partie droite -->
  <div class="content-container">
    <div class="control-form">

      <!-- ******************************* -->
      <!-- **********   FORM   *********** -->
      <!-- ******************************* -->
      <app-control3-dform [(controlForm)]="controlForm" [(toolRequestForm)]="toolRequestForm"></app-control3-dform>
    </div>
    <!-- <div class="print-preview">
      <app-controleddd [toolRequest]="toolRequest"></app-controleddd>
    </div> -->
  </div>
</ion-content>
<ion-footer>
  <app-tool-request-footer (evStatusChange)="onChangeStatut($event)" (evSubmit)="submitControlForm()"
    (evUpdate)="updateToolRequestForm()" [canManage]="requestState.canManage" [canUpdate]="requestState.canUpdate">
  </app-tool-request-footer>
</ion-footer>