<ion-header>
  <ion-toolbar color=dark>
    <ion-title>{{page.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color=light>
  <!-- TODO Revoir la mise en page scroll partie droite -->
  <div class="content-container">
    <div class="control-form">

      <!-- ******************************* -->
      <!-- **********   FORM   *********** -->
      <!-- ******************************* -->
      <app-control3-dform></app-control3-dform>
    </div>
    <!-- <div class="print-preview">
      <app-controleddd [toolRequest]="toolRequest"></app-controleddd>
    </div> -->
  </div>
</ion-content>
<!-- <ion-footer>

</ion-footer> -->