/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 *
 */

/* Core CSS required for Ionic components to work properly */
@import "primeicons/primeicons.css";


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 10px;
}

// .simple-alert {
//   .alert-head {
//     .alert-title {
//     }
//     .alert-sub-title {
//     }
//   }
//   .alert-message {
//   }
//   .alert-button-group {
//   }
// }

// ion-modal.fullscreen {
//   --width: 100%;
//   --height: 100%;
//   --border-radius: 0;
// }

// ion-modal.modal-adjusted{
//  // height: fit-content;
//   // --height: auto;
// }

// ion-item[ng-reflect-button]{
//   --background-hover: var(--ion-color-secondary);
//   --background-hover-opacity: 0.8;

// }

// ion-item[ng-reflect-button=false]{
//   --background-focused: var(--ion-color-secondary);
//   --background-focused-opacity: 0.8;
// }
// [slot="helper"]{
//   font-size: 14px;
// }