/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 *
 */
//  @use "tailwindcss";
 @import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

//  @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root{
    /* 
    * COLORS
    */ 
/* --- Brand Core (Source: daher.com) --- */
  --daher-blue-deep: #00325F;     /* Bleu Logo/Header */
  --daher-yellow-vivid: #FFCD00;  /* Jaune "Innovation" */
  --daher-red: #e40033;
  --daher-light-blue:#024A90;

  
  /* --- Surfaces & Grids (Esprit Aéronautique) --- */
  --daher-bg-light: #F8F9FA;      /* Fond de page propre */
  --daher-surface: #FFFFFF;       /* Cartes de graphique */
  --daher-border: #E9ECEF;        /* Lignes de grille (Light) */
  --daher-text-main: #1A1A1A;
  --daher-text-muted: #6C757D;    /* Légendes des axes */

  /* --- Graphique : Palette Déclarative (SOLID) --- */
  /* On définit des rôles plutôt que des noms de couleurs */
  --chart-primary: var(--daher-blue-deep);
  --chart-secondary: var(--daher-light-blue);      /* Bleu ciel profond */
  --chart-accent: var(--daher-yellow-vivid);
  --chart-neutral: #A7A9AC;        /* Gris "Metal" */
  --chart-info: #00A3E0;           /* Bleu Horizon */

  /* UI                               --- */
  --p-content-background : var(--daher-bg-light);
  --p-primary-color:var(--daher-blue-deep);
  --p-primary-hover-color:var(--daher-red);


  /* --- Semantic Stats --- */
  --chart-positive: #219653;
  --chart-negative: #EB5757;
}

// html,
// body {
//     height: 100%;
// }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: var(--chart-primary-font-color);
    background-color: var(--chart-background);
}

.header{
    opacity: 0.5;
}

.content-container {
  position: relative;
  min-height: calc(100vh - 50px);
  padding: 1rem;
}