<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">


  <ion-header>
    <ion-toolbar color=dark>
      <ion-title>Changement du mot de passe</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-label>Nouveau mot de passe</ion-label>
      <ion-input formControlName="newPassword" type="password" [value]=""></ion-input>
      <ion-icon slot="end" name="checkmark-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Confirmer mot de passe</ion-label>
      <ion-input formControlName="password" type="password" [value]=""></ion-input>
      <ion-icon color="success" slot="end" name="checkmark-done-outline"></ion-icon>
    </ion-item>

  </ion-content>
  <ion-footer>
    <ion-toolbar color="light">
      <ion-buttons slot="end">
        <ion-button fill="solid" (click)="confirmChangePasswordClick()" [disabled]="changePasswordForm.invalid">
          <ion-icon slot="end" name="airplane"></ion-icon>
          Confirmer
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</form>