<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Administration des moulages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" color=light>
  <ion-grid fixed class="grid-content">
    <ion-row>
      <ion-col size="9" class="ion-no-padding">
        <app-admin-molding-list></app-admin-molding-list>
      </ion-col>
      <ion-col size="3">
        <app-admin-molding-dashboard></app-admin-molding-dashboard>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
