.main-form {
    width: fit-content;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.control-form {
    overflow-y: auto;
}

.print-preview {
    overflow-y: auto;
}
