<form [formGroup]="roleForm()">
  <app-card [titles]="{title: 'Role dans l\'application', subtitle: 'string'}">
    <!-- @if(datas$ | async; as data){ -->
    <!-- <ion-list>
        <ion-item>
          <ion-select formControlName="site" placeholder="Selectionner un site">
            @for(site of data[0]; track site){
            <ion-select-option [value]="site.id"> {{site.nom}} </ion-select-option>
            }
            <div slot="label">Site<ion-text color="danger">*</ion-text></div>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select formControlName="unite" placeholder="Selectionner une unité">
            @for(unite of data[1]; track unite){
            <ion-select-option [value]="unite.id">
              {{unite.nom}}
            </ion-select-option>
            }
            <div slot="label"> Secteur<ion-text color="danger">*</ion-text></div>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select formControlName="service" placeholder="Sélectionner un service">
            @for(service of data[2]; track service){
            <ion-select-option [value]="service.id">
              {{service.nom}}
            </ion-select-option>
            }
            <div slot="label"> Service<ion-text color="danger">*</ion-text></div>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select formControlName="poste" placeholder="Sélectionner un poste">
            @for( role of data[3]; track role){
            
            <ion-select-option [value]="role">
              {{role}}
            </ion-select-option>
            }
            <div slot="label">Poste<ion-text color="danger">*</ion-text></div>
          </ion-select>
        </ion-item>
      </ion-list>
}
@else {
  <ng-template #loading>
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ng-template>
} -->


</app-card>
</form>